name: tests

on:
  push:
    branches:
      - main
      - "*x"
    tags:
      - "*"
  pull_request:
    branches:
      - main

  workflow_dispatch:

permissions:
  contents: read
  checks: write
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@28e947497bed4d6ec3fa1d66d198e95a1d17bc63 # v2.2.1
    with:
      envs: |
        - linux: py311-xdist
        - linux: py312-xdist
